.cardCont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-gap: 1.1em;
}
.contenedorCarta{
    transition: transform 0.3s;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #cec9c9;
    background-color: #fff;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    max-width: 280px;
    border: 1px solid rgba(103, 102, 102, 0.2)
}
.contenedorCarta:hover{
    
    transform: scale(1.1);
    cursor: pointer;
}
.cardCont  img{
    max-width: 280px;
    max-height: 186px;
}

.contenedorCarta h5{
    
    text-align: justify;
    font-weight: 700;
    font-size: 16px;
    color: rgb(13, 54, 126);
}
.iconos{
    display: flex;
    flex-direction: column;
}
.iconos span{
    font-size: 12px;
    width: 78px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgba(54, 52, 52, 0.2);
    align-items: center;
}
.iconoscart {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
.like-icons{
    border-radius: 30%;
}
.like-icons:hover{
    background-color:rgba(103, 102, 102, 0.2) ;
}
.buttons{
    
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
